<% layout("/layouts/boilerplate.ejs") %>
  <div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
      <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="validated-form" novalidate
        enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" id="title" class="form-control" name="campground[title]" value="<%= campground.title %>"
            required />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" id="location" class="form-control" name="campground[location]"
            value="<%= campground.location %>" required />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="input-group">
          <input class="form-control" type="file" name="image" id="image" multiple>
        </div>
        <label for="image" class="text-muted small">Add more images</label>
  
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea type="text" id="description" class="form-control" name="campground[description]" required>

<%= campground.description %></textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <label for="price" class="form-label">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" placeholder="0" step="0.01" name="campground[price]" required
            value="<%= campground.price %>" />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-3">
          <% campground.images.forEach((img, i) => { %>
            
            <img src="<%= img.thumbnail %>" alt="Image <%= i + 1 %>" class="img-thumbnail mb-2">
            <div class="form-check-inline ">
              <input type="checkbox" name="deleteImages[]" value="<%= img.filename %>" id="image-<%= i %>">
              <label for="image-<%= i %>" id="image-<%= i %>">Delete?</label>
            </div>
            <% }); %>
        </div>
        <div class="mb-3">
          <button class="btn btn-info text-white">Edit Campground</button>
        </div>
      </form>
      <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
    </div>
  </div>

